<h2>Grocerry Receipt Tracker</h2>

<fieldset>
	<legend>RECEIPT INFORMATION</legend>
	<input type="text" placeholder="Receipt Number" [(ngModel)]="receipt.receiptNumber" pattern="[A-Z0-9]">
	<input type="date" [(ngModel)]="receipt.purchaseDate">
</fieldset>

<div>
	<p>
		Receipt Number: {{receipt.receiptNumber}}<br>
		Total Amount: {{receipt.totalAmount}}<br>
		Purchase Date: {{receipt.purchaseDate}}
	</p>
</div>

<fieldset>
	<legend>ADD ITEM</legend>
	<input type="text" placeholder="Barcode" [(ngModel)]="barcode" pattern="[0-9]">
	<input type="text" placeholder="Item Name" [(ngModel)]="name" pattern="[A-Za-z]">
	<input type="text" placeholder="Item Price" [(ngModel)]="price" pattern="[0-9]"><br>
	<button (click)="addItem()">Add Item</button><br>
</fieldset>

<br>
<button id="saveBtn" (click)="sendReceipt()">Save Receipt</button>
<br>
<br>

<table id="itemListTable">
	<tr>
		<th>Barcode</th>
		<th>Item Name</th>
		<th>Item Price</th>
		<th style="color: rgb(134, 18, 18);">Action</th>
	</tr>

	<tr *ngFor="let item of receipt.items">
		<td>{{item.barcode}}</td>
		<td>{{item.name}}</td>
		<td>{{item.price}}</td>
		<td><button (click)="removeItem(item)">Remove</button></td>
	</tr>
</table>