<h2>Grocerry Receipt Tracker</h2>

<fieldset>
	<legend>RECEIPT INFORMATION</legend>
	<input type="text" placeholder="Receipt Number" [(ngModel)]="receiptNumber" pattern="[A-Z0-9]">
	<input type="date" [(ngModel)]="purchaseDate">
</fieldset>

<div>
	<p>
		Receipt Number: {{receiptNumber}}<br>
		Total Amount: {{totalAmount}}<br>
		Purchase Date: {{purchaseDate}}
	</p>
</div>

<fieldset>
	<legend>ADD ITEM</legend>
	<input type="text" placeholder="Barcode" [(ngModel)]="itemBarcode" pattern="[0-9]">
	<input type="text" placeholder="Item Name" [(ngModel)]="itemName" pattern="[A-Za-z]">
	<input type="text" placeholder="Item Price" [(ngModel)]="itemPrice" pattern="[0-9]"><br>
	<button id="submitBtn" (click)="addItem">Add Item</button><br>
</fieldset>

<br>
<button id="saveBtn">Save Receipt</button>
<br>
<br>

<table id="itemListTable">
	<tr>
		<th>Barcode</th>
		<th>Item Name</th>
		<th>Item Price</th>
		<th>Ctl</th>
	</tr>
</table>

<p id="itemsMap"></p>
